#wrapper {
	width:800px;
	height:542px;
	position:absolute;
	left:50%;
	top:10px;
	margin-left:-390px;
	padding:10px;
}

#wrapper header {
	margin:0;
}
#wrapper header .headerads {
	margin:10px 0;
	text-align:center;
}
.ads {
	text-align:center;
}
	
#wrapper header h1 a {
	background:transparent;
}

#wrapper header h1 {
	font: 22pt ColaborateLightRegular;
	color:#000;
	margin-top:20px;
}

#wrapper header h2 {
	font: 16pt ColaborateLightRegular;
	color:#000;
	margin:5px 0;
}

#wrapper header p {
	font: 14px ColaborateLightRegular;
	padding:8px 0;
}

#wrapper header p a,a:visited, a:active {
	color:#009cff;
    text-decoration:underline;
    padding: 0;
}

#wrapper header p a:hover {
    text-decoration:none;
    background:none;
}

#wrapper #main {
	float:left;
	width:700px;
	padding:5px 10px;
	background:fff;
}

#wrapper #main p {
	font: 14px ColaborateLightRegular;
	padding:8px 0;
}

#wrapper #main a,a:visited, a:active {
	color:#009cff;
    text-decoration:underline;
    padding: 0;
}

#wrapper #main a:hover {
    text-decoration:none;
    background:none;
}

#wrapper b {
	font-weight:bold;
}

#wrapper footer {
    width:100%;
    float:left;
    text-align:center;
    padding-bottom:50px;
}

#wrapper footer p {
    text-align:center;
    font-size:16pt;
    color:#c3c3c3;
}

#wrapper footer a,a:active,a:visited {
    color:#000;
    text-decoration:none;
    padding:0 2px;
    outline:0;
}

#wrapper footer a:hover {
    background:rgba(0,0,0,0.1);
}

#wrapper .smallerletter {
    text-align:center;
    font-size:14pt;
    color:#c3c3c3;
    margin:10px 0 20px 0;
}

#wrapper .footertext {
	margin:10px 0;
}

#wrapper .footertext p {
	font-size: 14px;
	font-family:ColaborateLightRegular, Arial, sans-serif;
	padding:8px 0;
	color:#000;
}

#wrapper .footertext p b {
	font-weight:bold;
}

table {
	border-collapse: separate;
	border-spacing: 10px;
	border:0;
	width:800px;	
}

table tr {
	width:100%;	
}

img {
	border:0
}

ul.urls {
	width:100%;
}

ul.urls li {
	color:#000;
	padding:4px;
}

ul.urls li a,ul.urls li a:visited, ul.urls li a:active {
	color:#000;
	text-decoration:none;
	padding:2px;
}

ul.urls li a:hover {
	background:transparent;
	color:#000;
}

ul.urls li.info {
	padding:6px 4px;
	font-weight:bolder;
}

ul.urls li.pager {
	background:none;
}

ul.urls li.pager a {
	color:#000;
}

ul.urls li.pager .prev {
	float:right;
	margin:0 6px 0 0;
	background:none;
}

ul.urls li.pager .next {
	float:right;
	margin:0 6px 0 0;
}

ul.urls li.normal:hover {
	background:rgba(0,0,0,.1);
}

ul.urls li span.hits {
	float:right;
}

ul.urls li span.social {
	display:none;
	position:absolute;
	right:65px;
}

ul.urls li span.social .button {
	position:absolute;
	display:inline-block;
	width:16px;
	height:16px;
	margin:0 4px 0 0;
	background:url( '../images/social.png ');
	cursor:pointer;
}

ul.urls li span.social .button.facebook {
	background-position:0 0;
	right:56px;
}

ul.urls li span.social .button.twitter {
	background-position:-16px 0;
	right:38px;
}

ul.urls li span.social .button.googleplus {
	background-position:-32px 0;
	right:20px;
}

ul.pager {
	margin:10px 0 0 0;
	overflow:hidden;
	font-size:12px;
	list-style-type:none;
	float:left;
}

ul.pager li {
	float:left;
	padding:0px;
	margin-left:5px;
}

ul.pager li:first-child {
	margin-left:0px;
}

ul.pager li a {
	color:#000;
	display:block;
	text-decoration:none;
	padding:7px 10px 7px 10px;
}

ul.pager li a img {
	border:none;
}

ul.clean {
	width:672px;
}

ul.clean li a {
	color:#000;
	padding:6px 10px;
    background:none;
    border:1px solid #eee
}

ul.clean li.selected {
	color:#333;
	padding:6px 10px;
	background:rgba(0,0,0,.1);
}

ul.clean li.disabled {
	color:#ddd;
	padding:6px 10px;
	background:#fff;
	border:1px solid #eee
}

ul.clean li.separator {
	color:#bbb;
    padding:6px 10px;
}

ul.clean li.infobox {
	color:#ccc;
	padding:6px 10px;
	border:solid 2px #f0f0f0;
	background:#E6E6E6;
}
/* hover && selected color */
ul.clean li a:hover,ul.clean li a.selected,ul.clean li.selected {
	color:#ff5a00;
	background:#fff;
}


/* {
	height:100%
}

body {
	font-family:Verdana,Arial,sans-serif;
	font-size:11px;
	padding:2px 0;
}

a,a:visited, a:active {
	color:#009cff;
    text-decoration:underline;
}

a:hover {
    text-decoration:none;
}

table {
	border-collapse: separate;
	border-spacing: 10px;
	border:0	
}

img {
	border:0
}*/